* {
  font-family: Montserrat;
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
.logo-footer {
  position: relative;
  width: 200px;
}
header {
  position: sticky;
  top: 0px;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 10px;
  z-index: 1;
  opacity: 0;
  transform: translateY(-200px);
  &.action {
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0px);
  }
  .logo {
    top: 10px;
    position: absolute;
    width: 100px;
    margin: 0;
    padding: 0;
  }
  @media (max-width: 450px) {
    position: relative;
    padding: 30px;
    top: 1px;
    .logo {
      left: 20px;
      top: 10px;
    }
  }
  nav {
    width: 1500px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 1250px) {
      width: 90%;
    }
    @media (max-width: 450px) {
      .btn {
        ul {
          display: block;
          opacity: 0.9;
          top: 40px;
          position: absolute;
          flex-direction: column;
          background-color: white;
          padding: 9px 39px 0px 39px;
          left: -50%; //перемещение за область видимости
          transition-duration: 1.5s;
        }
        span {
          z-index: 1;
          right: 20px;
          position: absolute;
          background-color: black;
          width: 20px;
          height: 2px;
          &:nth-child(1) {
            transform: translateY(5px);
            height: 2.5px;
          }
          &:nth-child(3) {
            transform: translateY(-5px);
            height: 1.5px;
          }
        }
        &.active {
          span {
            &:nth-child(1) {
              transform: rotate(45deg);
            }
            &:nth-child(2) {
              display: none;
            }
            &:nth-child(3) {
              transform: rotate(-45deg);
            }
          }
          ul {
            opacity: 0.9;
            top: 40px;
            position: absolute;
            display: flex;
            flex-direction: column;
            background-color: white;
            padding: 9px 39px 0px 39px;
            left: 55%; //перемещение за область видимости
            transition-duration: 1.5s;
          }
        }
      }
    }

    a {
      cursor: pointer;
      img {
        padding: 10px;
      }
    }

    ul {
      display: flex;
      list-style-type: none;
      @media (max-width: 450px) {
        display: none;
      }
      li {
        padding: 10px;
        margin: 5px 0;
        a {
          text-decoration: 0;
          color: black;
          &:hover {
            border-bottom: 1px solid black;
          }
        }
      }
    }
  }
}

main {
  position: relative;
  margin: auto;
  width: 80%;
  @media (max-width: 1200px) {
    width: 90%;
  }
}
.wrapper-intro-about {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  margin-bottom: 100px;
  section {
    .main-intro-about {
      font-size: 16px;
      margin-bottom: 20px;
    }
    .main-intro-about-title {
      font-size: 25px;
      margin-bottom: 100px;
    }
    p {
      margin: 30px 0px;
      font-size: 19px;
      margin-bottom: 40px;
    }
  }
  .slider-parent {
    margin-top: 30px;
    height: 80vh;
    margin-right: 3vw;
    margin-bottom: 40px;
    .slider {
      position: relative;
      @keyframes fade {
        from {
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
        to {
          opacity: 0;
        }
      }
      .slider-image {
        width: 100%;
        position: absolute;
        opacity: 0;
        &.active {
          animation-name: fade;
          animation-duration: 8s;
        }
      }
    }
  }
  @media (max-width: 1200px) {
    margin-bottom: 0px;
    padding-bottom: 0px;
    .slider-parent {
      // margin-bottom: -50px !important;
      padding-bottom: 0px;
    }
  }
  @media (max-width: 1100px) {
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding-bottom: 150px;
  }
  @media (max-width: 850px) {
    display: grid;
    grid-template-columns: 2.5fr 2fr;
    margin-bottom: 0px;
    padding-bottom: 0px;
    height: 60vh;
  }
  @media (max-width: 450px) {
    display: grid;
    grid-template-columns: auto;
    margin-bottom: 100px;
    section {
      .main-intro-about {
        font-size: 16px;
        margin-bottom: 20px;
      }
      .main-intro-about-title {
        font-size: 25px;
        margin-bottom: 50px;
      }
      p {
        margin: 30px 0px;
        font-size: 19px;
        margin-bottom: 40px;
      }
    }
    .slider-parent {
      position: relative;
      margin: 0px;
      height: 55vh;
      .slider {
        margin-top: 10px;
        position: relative;
        .slider-image {
          width: 100%;
          position: absolute;
          opacity: 0;
        }
      }
    }
  }
}
.wrapper-intro-approuch {
  text-align: center;
  font-size: 22px;
  padding: 20px;
  font-weight: 600;
}
.wrapper-main-approuch {
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    margin: 15px;
    margin-bottom: 50px;
    li {
      margin: 15px;
      .wrapper-title {
        margin-bottom: 20px;
        font-size: 17px;
        font-weight: 600;
        text-align: center;
      }
      p {
        font-size: 14px;
      }
    }
  }
  @media (max-width: 450px) {
    margin-top: 500px;
    ul {
      grid-template-columns: auto;

      margin: 15px;
      margin-bottom: 50px;
    }
  }
}
.all-projects {
  display: flex;
  justify-content: end;
  font-size: 14px;
  margin: 10px 15px 10px;
  cursor: pointer;
  color: black;
  text-decoration: 0;
  @media (max-width: 450px) {
    justify-content: center;
  }
}
.example-projects {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  ul {
    list-style-type: none;
    li {
      margin: auto;
      width: 95%;
      margin-bottom: 10px;
      img {
        width: 25.5vw;
        margin-bottom: 10px;
        &:hover {
          transform: scale(1.05);
          transition-duration: 100ms;
        }
        @media (max-width: 1250px) {
          width: 28.5vw;
        }
      }
      a {
        font-size: 14px;
        cursor: pointer;
        color: black;
        text-decoration: 0;
      }
    }
  }
  @media (max-width: 450px) {
    flex-wrap: wrap;
    ul {
      li {
        width: 100%;
        margin-bottom: 20px;
        img {
          width: 90vw;
          margin-bottom: 0px;
        }
        a {
          margin-left: 26vw;
        }
      }
    }
  }
}
.wrapper-form {
  display: grid;
  grid-template-columns: 2fr 2fr;
  margin: 50px 0 50px;

  .form-title {
    padding: 20px 0px 50px;
    font-size: 25px;
    font-weight: 600;
  }
  p {
    font-size: 19px;
    margin-right: 30px;
  }

  form {
    display: flex;
    flex-direction: column;
    p {
      margin-top: 20px;
    }
  }
  @media (max-width: 450px) {
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin: 10px 0 30px;

    .form-title {
      padding: 30px 0px 30px;
      font-size: 17px;
      font-weight: 600;
    }
    p {
      font-size: 16px;
      margin-right: 30px;
    }

    form {
      display: flex;
      flex-direction: column;
      p {
        margin-top: 20px;
      }
    }
  }
}
button {
  padding: 10px 20px;
  border-radius: 30px;
  border: 1px solid grey;
  background-color: unset;
  margin-bottom: 20px;

  &:hover {
    cursor: pointer;
    background-color: grey;
    color: white;
  }
}
.wrapper-form {
  input {
    font-size: 16px;
    font-family: inherit;
    padding: 20px 0px;
    margin: 10px 0px;
    border: 0px;
    border-bottom: 1px solid black;
    width: 30vw;
    &::placeholder {
      color: #212529;
      opacity: 0.4;
    }
    &:focus {
      outline: 0;
    }
    @media (max-width: 450px) {
      padding: 20px 0px 15px;
      margin: 5px 0px 10px;
      font-size: 12px;
      width: 43vw;
    }
  }
}

footer {
  display: flex;
  padding: 20px 0px;
  background-color: rgba(189, 190, 191, 0.4);
  justify-content: center;
  .footer-content {
    display: flex;
    justify-content: space-around;
    width: 1600px;
    .footer-logo-name {
      @media (max-width: 450px) {
        display: none;
      }
      .all-rights {
        p {
          font-size: 12px;
        }
      }
    }
    .footer-contacts {
      justify-content: center;

      p {
        text-align: center;
        margin: 5px;
      }

      ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        li {
          margin: 10px 10px;
          cursor: pointer;
          img {
            width: 20px;
          }
        }
      }
    }
    .footer-contacts-web {
      justify-content: center;
      @media (max-width: 450px) {
        display: none;
      }
      p {
        text-align: center;
        margin: 5px;
      }

      ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        li {
          margin: 10px 10px;
          cursor: pointer;
          img {
            width: 20px;
          }
        }
      }
    }
  }
}

// about

.section-about-me {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 30px 0;
  img {
    width: 30vw;
  }
  .section-about-me-text {
    margin-right: 5vw;
    .about-me {
      text-transform: uppercase;
      font-size: 14px;
      margin-bottom: 30px;
    }
    .name {
      font-size: 28px;
      font-weight: 600;
      margin-bottom: 30px;
    }
    .work {
      font-size: 14px;
    }
    .whoiam {
      font-size: 14px;
      margin-bottom: 20px;
    }
    .desc {
      p {
        margin: 25px 0px;
        font-size: 15px;
      }
    }
  }
  @media (max-width: 450px) {
    grid-template-columns: auto;
    img {
      width: 90vw;
    }
  }
}
.section-about-us {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 30px 0;
  img {
    width: 30vw;
  }
  .section-about-us-text {
    margin-left: 5vw;
    .about-me {
      text-transform: uppercase;
      font-size: 14px;
      margin-bottom: 20px;
    }
    .desc {
      p {
        margin: 25px 0px;
        font-size: 15px;
      }
    }
  }
  @media (max-width: 450px) {
    grid-template-columns: auto;
    img {
      width: 90vw;
    }

    .section-about-us-text {
      margin-left: 0px;
    }
    .about-me {
      text-align: center;
      text-transform: uppercase;
      font-size: 14px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}
.section-to-projects {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: 30px 0;
  p {
    font-size: 20px;
    margin-right: 5.5vw;
  }
  button {
    margin: auto;
  }
  @media (max-width: 450px) {
    grid-template-columns: 2.5fr 1fr;
    p {
      font-size: 16px;
    }
  }
}
.instagram-posts {
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style-type: none;
    width: 80vw;
    li {
      margin: 30px 0;
      img {
        width: 95%;
        height: 95%;
      }
    }
  }
  @media (max-width: 1200px) {
    display: flex;
    justify-content: center;
  }
  @media (max-width: 450px) {
    display: flex;
    ul {
      display: grid;
      grid-template-columns: auto;
      list-style-type: none;
      width: 80vw;
      li {
        margin: 10px 0;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
.action-script {
  opacity: 0;
  transform: translateY(200px);
  &.action {
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0px);
  }
}
